*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: dimgrey;
    
}


body{
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}



input{
    border-radius: 7px;
    height: 2rem;
    width: 14rem;
    margin-bottom: 2rem;

}

.submit-button{
    border-radius: 7px;
    height: 2rem;
    width: 14rem;
}

.text{
    margin-top: 3rem;
    font-size: 2rem;
    font-family: Inter, sans-serif;
    margin-bottom:2rem ;
}