.{
    padding: 0;
    margin: 0;
}

.head{
    position: absolute;
    width: 381px ;
    height: 148px;
    left: 49px;
    top: 228px;
    font-family: 'Cairo';
    font-style: normal;
    font-size: 20px;
    line-height: 74px; 
    color: #000000;
    background-color: #ddf0ff;
}

.landingPage{
    color: #2995e2;
}

.underLanding{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 2370px;
    height: 344px;
    left: 45px;
    top: 506px;
    color: #000000
}